body {
    background-color: azure;
}

projectList {
}

.panel-body {
    min-height: 150px;
    max-height: 150px;
    max-width: 350px;
    min-height: 350px;
}

.panel {
    width: 500px;
    padding-left: 20px;
    background-color: dimgray;
    color: white;
}

.navSelect {
    padding-left: 50px;
    padding-right: 50px;
}

.githubLink {
    color: white;
}

.aboutBody {
}

.aboutTitle {
    text-align: center;
}