@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutBody">
    <h2 class="aboutTitle">A little bit about my journey thus far...</h2>

    <h4>
            My name is Chad Thomas Durkin, I grew up in a small town in Northern California called Chester.
        I grew up loving the outdoors and technology, I'd spend long days out camping and hiking and/or
        inside working on the computer, learning how to type faster, and playing games. This is where my
        love of technology stemmed from, being able to program a machine and understand the logic behind
        why it does what it does.
    </h4>
    <h4> 
        As I got older and went to college, I started pursuing a Major inComputer Science and a Minor in 
        Mathematics, and I loved it. I understood all the classes and flourished. Ever since then I never 
        looked back, I loved programming and math and I loved putting in time to get better at both. After 
        a couple years of taking Advanced Algorithm Programming and Math classes I needed to take a break, 
        but I didn't want to stop programming and getting experience in my passion.
    </h4>
    <h4>
        That is when I decided to go to Epicodus's C# .NET Full Stack Bootcamp and learn Web Development.
        Going to that school was one of the best choices of my life, not only did I learn an immense amount
        of programming skills, I learned how to develop full web applications from the back-end to the front-end,
        I met amazing new people, a lot of whom I will be keeping in touch with as I grow into my own career,
        and lastly a lot of non-tech skills relating to people, and how to handle myself in the workforce. I
        am going to be leaving Epicodus feeling like I've grown in all aspects of my life, and that this will
        be one amazing journey I will not soon forget.
    </h4>
</div>