@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-group">
    @foreach (var project in Model)
    {
        <div class="panel panel-default projectList">
            <div class="panel-header"><h2><strong>@project.name</strong></h2></div>
                <div class="panel-body projectDisplay">
                    <h3>@project.description</h3>
                    <a class="githubLink" href="@project.html_url">Link to GitHub Repo</a>
                </div>
        </div>
    }
</div>